<!DOCTYPE html>
<html>
    <head>
        <title>Login</title>
        <!-- <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous"> -->
        <!-- <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.4.1/semantic.min.css" integrity="sha512-8bHTC73gkZ7rZ7vpqUQThUDhqcNFyYi2xgDgPDHc+GXVGHXq+xPjynxIopALmOPqzo9JZj0k6OqqewdGO3EsrQ==" crossorigin="anonymous" /> -->
        <!-- <link rel="stylesheet" type="css/text" href="public/stylessheets/app.css"> -->
        <meta charset="UTF-8">
        <meta name="viewport" content="width-device-width, initial-scale=1">
        <title>Register</title>
    </head>
    <body>
        <form action="/register" method="POST">
            <label for="username">Username:</label><br>
            <input type="text" id="username" name="username" placeholder="Username"><br>
            <label for="pwd">Password:</label><br>
            <input type="password" id="pwd" name="pwd" placeholder="Password"><br><br>
            <input type="submit" value="Sign Up">
          </form> 
    </body>
</html>

